<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<form th:method="POST" th:action="@{/users}" th:object="${user}">
    <div>
        <label for="name"> Enter name </label>
        <input type="text" th:field="*{name}" id="name" required/>
        <br/>
        <label for="name"> Enter login </label>
        <input type="text" th:field="*{login}" id="loginName" required/>
        <br/>
        <label for="name"> Enter password </label>
        <input type="text" th:field="*{password}" id="pass" required/>
        <br/>

        <input type="submit" value="Create user">
    </div>
</form>

<!--<div th:each="element: ${users}" >-->
<!--    <h4 th:text="${element.id}"> </h4>-->
<!--  <h4 th:text="${element.login}"> </h4>-->
<!--    <h6 th:text="${element.password}"></h6>-->
<!--    <h6 th:text="${element.name}"></h6>-->

</div>
</body>
</html>