<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
        <link href="/resources/css/reg.css" type="text/css" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<form th:method="POST" th:object="${userNew}">

        <label for="name"> Enter name </label>
        <input type="text" th:field="*{username}" id="name" required/>
        <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{username}">Error</div>

        <br/>
        <label for="LoginName"> Enter login </label>
        <input type="text" th:field="*{login}" id="loginName" required/>

        <br/>

        <label for="pass"> Enter password </label>
        <input type="text" th:field="*{password}" id="pass" required/>

        <label for="passConfirm"> Confirm password </label>
        <input type="text" th:field="*{passwordConfirm}" id="passConfirm" required/>
        <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</div>
        <br/>
        <input type="submit" value="Create user">
</form>


</div>
</body>
</html>